.all-blogs{
    padding: 40px 0px 100px 0px;
}
.blog-all-contents{
    display: flex;
    flex-direction: column;
}
.blog-sidebar{
    padding-top: 80px;
}
.blog-page-author-card{
    border: none;
    background-color: #F4F8FC;
    padding: 30px;
}
.author-profile-image{
    text-align: center;
}
.blog-page-author-card img{
    width: 65%;
    border-radius: 50%;
}
.author-card-name{
    font-size: 25px;
    font-weight: 700;
    color: var(--primaryColor);
}
.author-speech{
    font-size: 16px;
}
.author-social-id ul{
    padding-left: 0;
}
.author-social-id ul li{
    margin-left: 5px;
    margin-right: 5px;
    width: 50px;
    height: 50px;
    background: #fff;
    padding: 3px;
    display: inline-block;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    transition: all .3s;
}
.author-social-id ul li a{
    color: var(--primaryColor);
    transition: all .3s;
}
.author-social-id ul li:hover{
    background-color: var(--brandColor);
}
.author-social-id ul li:hover a{
    color: #fff;
}
.sidebar-search-bar, .sidebar-categories, .sidebar-related-posts, .sidebar-project-grid, .sidebar-tags, .sidebar-contact-cta{
    margin-top: 60px;
}

.sidebar-search-container{
    background-color: #FFFBF2;
    padding: 15px 0px;
}

.sidebar-search-field{
    border: none;
    background-color: transparent;
    font-size: 17px;
    padding-left: 20px;
}
.sidebar-search-container .form-control:focus{
    box-shadow: none;
    background-color: transparent;
}
.sidebar-search-container:focus{
    background-color: red;
}
.sidebar-search-btn{
    padding: 10px 15px;
    background-color: var(--brandColor);
    margin-right: 10px;
    border-radius: 5px!important;
    color: #fff;
    transition: all .3s;
}
.sidebar-search-btn:hover{
    background-color: var(--primaryColor);
    color: #fff;
}

.sidebar-subheading{
    position: relative;
    font-size: 22px;
}

.sidebar-subheading::before{
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--brandColor);
    position: absolute;
    top: 45px;
    left: 0;
    border-radius: 5px;
}
.sidebar-subheading::after{
    content: '';
    width: 82%;
    height: 4px;
    background-color: #ece4e49c;
    position: absolute;
    top: 45px;
    left: 16%;
    border-radius: 5px;
}

.sidebar-categories-container ul{
    padding-left: 0;
    margin-top: 45px;
}
.sidebar-categories-container ul li{
    display: block;
    width: 100%;
    margin-bottom: 18px;
}
.sidebar-categories-container ul li a{
    color: #363637c2;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    transition: all .3s;
}
.sidebar-categories-container ul li a:hover{
    color: var(--brandColor);
}
.sidebar-categories-container ul li a span:nth-child(2){
    width: 30px;
    height: 30px;
    background-color: #F4F8FC;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
}
.related-post-image{
    width: 90px;
    height: 80px;
    border-radius: 5px;
}
.sidebar-posts-grid{
    margin-top: 45px;
}
.related-post-title a{
    color: var(--primaryColor);
    font-weight: 600;
    font-style: 16px;
    line-height: 1.2;
}

.project-grid-images{
    margin-top: 45px;
}

.project-grid-images img{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}
.sidebar-tags-container p{
    margin-top: 45px;
}
.sidebar-tags-container p span{
    padding: 2px 15px;
    background-color: #ECF4FB;
    margin-bottom: 8px;
    margin-right: 3px;
    display: inline-block;
    transition: all .3s;
    border-radius: 5px;
}
.sidebar-tags-container p span a{
    color: var(--primaryColor);
    font-size: 15px;
    transition: all .3s;
}
.sidebar-tags-container p span:hover{
    background-color: var(--brandColor);
}
.sidebar-tags-container p span:hover a{
    color: #fff;
}
.sidebar-contact-cta-container{
    padding: 30px 50px;
    background-color: var(--primaryColor);
}
.sidebar-contact-cta-container h3{
    font-size: 35px;
    color: #fff;
}
.sidebar-contact-cta-container p{
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sidebar-contact-cta-container button{
    margin-bottom: 15px;
    margin-top: 10px;
}
.sidebar-contact-cta-container button a {
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 40px;
    transition: all .3s;
}